
/**
 *"Fix" core bug where fieldsets embedded in a vertical tab don't show
 *their title.
 */
fieldset.vertical-tabs-pane > legend {
  display: none;
}

.vertical-tabs legend {
  display:inherit;
  top:-25px;
  margin-top:10px;
}

fieldset.vertical-tabs-pane fieldset {
  padding:10px 0;
}

.citcon-legend-wrapper .ctools-collapsible-handle {
  color:blue;
}

.citcon-legend-wrapper .ctools-collapsible-content {
  background:#c9daff;
  padding:.5em;
  border:1px solid #333;
}

.citcon-css-hide {
  display:none;
}

.citcon-form-element-flag {
  font-size:75%;
  vertical-align: top;
  background:#EEE;
  padding:0 2px;
  border:1px solid #BBB;
  font-weight:normal;
}

.citcon-shared {
  color:blue;
}

.citcon-supporter-tokens {
  color:green;
}

.citcon-campaign-tokens {
  color:purple;
}

.citcon-email-lookup-tokens {
  color:#069fad;
}

.citcon-no-html-tokens {
  color:red;
}

.citcon-token-trees .ctools-collapsible-content, .citcon-form-group .ctools-collapsible-content {
  /*font-size:larger;*/
}

.citcon-token-trees .token-tree {
  width:95%;
}
